<h4 class="card-title">投稿一覧（全<%= user_posts_count %>件）</h4>
  <p class="card-text">
    <% user_posts.each do |post| %>
      <%= render 'posts/tag_list', tag_list: post.tag_list %><br>
      <span class="font-weight-bold"><%= link_to post.title,post_path(post.id) %></span>
      <% if post.status==false %>
        <div class="post_ended_tag font_size5">
              CLOSE
            </div><br>
      <% end %>
        <p class="text_overflow text-muted"><%= post.body %></p>
        <i class="far fa-comment-dots" aria-hidden="true" style="color: gray;"></i> <%= post.comments.count %>
        <br><%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
      <hr/>
    <% end %>
  </p>
  <%= paginate user_posts,remote: true %>