<div class="container mt-4">
<%= form_for(@profile,url: users_update_profile_path(@profile)) do |f| %>

  <!-- devise関係は後で調べる -->
 <div class="form-inline account_border">
 <div class="account_titile">アカウント情報</div>
  <div class="form-group mr-5">
    <%= f.label :name, 'Name',class:'account_text' %>
    <div class="account_data"><%= @user.name %></div>
  </div>
  
  <div class="form-group">
    <%= f.label :email, 'Email',class:'account_text' %>
    <div class="account_data"><%= @user.email %></div>
  </div>
 </div>

  アカウント情報編集は<%= link_to "こちら", edit_user_registration_path %>

  <div class="form-group mt-3">
      <%= attachment_image_tag @profile, :icon_image, :fill, 200, 200, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
    <br/>
    <%= f.attachment_field :icon_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
  </div>

  <div class="form-group">
    <%= f.label :introduce, '自己紹介（255文字未満）' %>
    <%= f.text_area :introduce, :maxlength => "255", :size => "80x5",  class: 'form-control'  %>
  </div>

  ※以下、店舗情報
  <div class="form-group">
    <%= f.label :hp_url, '店舗サイトURL' %>
    <%= f.text_field :hp_url, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :address, '店舗住所' %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  
  <div class="al-c"><%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %></div>
<% end %>
</div>