<div class="d-flex align-items-center">
    <div class="ml-auto posts_button">
        <!--<a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>-->
        <% if user_signed_in? && (@user.id==current_user.id) %>
         <%= link_to "編集", users_edit_profile_path(current_user.id), class: 'btn btn-outline-info' %>
        <% end %>
    </div>
</div>

<div class="row">
  <aside class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body al-c">
            <%= attachment_image_tag @profile, :icon_image, :fill, 200, 200, fallback: "no_image.jpg", class: "rounded-circle pull-left profile-thumb" %>
            <br><%= @user.name %>
            
            <% if user_signed_in? && (@user.id==current_user.id) %>
              <p>登録email:<%= @user.email %></span></p>
            <% end %>
            <p>自己紹介<br>
            <% if @profile.introduce? %>
              <p><%= Rinku.auto_link(simple_format(@profile.introduce), :all, 'target="_blank"').html_safe %></p>
            <% else %>
              <p>未設定</p><!-- 表示確認ようなので後で削除 -->
            <% end %>
            </p>
            <!-- 横並びにしてアイコン表示にしたい -->
            <br><i class="far fa-comment" aria-hidden="true"></i> <%= link_to @user_posts_count,users_posts_show_path(@user), remote: true %>
            <br><i class="fas fa-crown" aria-hidden="true"></i> <%= link_to @user_best_comments_count,users_best_comments_show_path(@user), remote: true %>
            <br><i class="far fa-heart" aria-hidden="true" style="color: red;"></i>いいねした数：<%= link_to @to_favorites.count,users_favorite_comments_show_path(@user), remote: true %>
            <br><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>いいねもらった数：<%= @get_favorite_count %>

            <hr/>

            <p>店舗サイト</p>
            <% if @profile.hp_url? %>
              <p><%= raw Rinku.auto_link(simple_format(@profile.hp_url), :all, 'target="_blank"') %></p>
            <% else %>
              <p>未設定</p>
            <% end %>

              <p>店舗住所</p>
              <% if @profile.address? %>
                <p><%= @profile.address %></p>
              <% else %>
                <p>未設定</p>
              <% end %>
      </div>
    </div>
  </aside>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body" id="lists">
        <%= render 'users/profiles/post_lists2', user_posts: @user_posts,user_posts_count: @user_posts_count %>
      </div>
    </div>
 </div>
</div>