<div class="d-flex align-items-center">
    <h1>プロフィール</h1>
    <div class="ml-auto posts_button">
        <!--<a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>-->
        <% if @user.id=current_user.id? %>
         <%= link_to "編集", users_edit_profile_path(current_user.id), class: 'btn btn-outline-info' %>
        <% end %>
    </div>
</div>

<div class="row">
  <aside class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body al-c">
            <%= attachment_image_tag @profile, :icon_image, :fill, 200, 200, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
  <p>ユーザー名:<span class="orange b"><%= @user.name %></span></p>
  <p>e-mail:<span class="orange b"><%= @user.email %></span></p>
  <p>ベストコメント数<span class="orange b"><%= @bc_num %></span></p>
  <p class="orange b">自己紹介</p>
  <% if @profile.introduce? %>
    <p><%= @profile.introduce %></p>
  <% else %>
    <p>未設定</p>
  <% end %>

  <p class="orange b">HP</p>
  <% if @profile.hp_url? %>
    <p><%= @profile.hp_url %></p>
  <% else %>
    <p>未設定</p>
  <% end %>

  <p class="orange b">住所</p>
  <% if @profile.address? %>
    <p><%= @profile.address %></p>
  <% else %>
    <p>未設定</p>
  <% end %>
  </div>
</div>

<%= form_tag users_contact_path(@user.id) do %>
  <%= text_field_tag :title %>
  <%= text_field_tag :message %>
  <%= submit_tag %>
<% end %>