<div class="container mt-4 pt4 contact_page">
  <div class="row">
    <div class="col-md-12">
      <h3>Contact</h3>
      <hr />
      <div class="container mt-5">
      <%= render 'layouts/errors', obj: @inquiry %>
      <%= form_with model: @inquiry, local: true, method: :get, url: confirm_inquiry_mailer_path do |form| %>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= form.label :name, '名前' %>
              <span class="badge badge-info rounded-0">必須</span>
              <%= form.text_field :name, id: 'name', class: 'form-control', :placeholder => '名前' %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <div>
                <%= form.label :email, 'メールアドレス' %>
                <span class="badge badge-info rounded-0">必須</span>
                <small class="text-muted">例：user@example.com</small>
              </div>
              <%= form.text_field :email, id: 'email', class: 'form-control', :placeholder => 'メールアドレス' %>
            </div>
          </div>
        </div>
      
        
        <div class="row">
          <div class="form-group col">
            <%= form.label :subject, '件名' %>
            <span class="badge badge-info rounded-0">必須</span>
            <%= form.text_field :subject, id: 'subject', class: 'form-control', :placeholder => '件名' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <%= form.label :content, 'お問い合わせ内容' %>
            <span class="badge badge-info rounded-0">必須</span>
            <small class="text-muted">パスワードなどの機密情報を含めないでください。</small>
            <%= form.text_area :message, id: 'message', class: 'form-control', :placeholder => 'お問い合わせ内容', :rows => '5' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col text-right">
            <%= form.submit "Confirm", class: "review_form_button" %>
          </div>
        </div>

        <% end %>

      </div>
    </div>
  </div>
</div>