<h3><%= @inquiry.name %> 様</h3>

<p>お世話になっております。<br>
FAS運営へのお問い合わせありがとうございました。</p>

<p>以下の内容でお問い合わせを受け付けいたしました。<br>
担当よりご連絡いたしますので、今しばらくお待ちくださいませ。</p>

<p>※このメールはシステムからの自動返信です。<br>
このメールに返信いただきましても、返信内容の確認およびご返答ができません。<br>
あらかじめご了承ください。</p>

<h4>お問い合わせ内容</h4>
--------------------------------------------------------
<p>お名前：<%= @inquiry.name %><br>
E-Mail：<%= @inquiry.email %></p>

<p>お問い合せ日時：<%= @inquiry.created_at %><br>
お問い合わせ件名：<%= @inquiry.subject %></p>
<p>内容：<br>
<%= @inquiry.message %></p>
--------------------------------------------------------
<br>
--------------------------------------------------------
<p>FAS運営<br>
サイトURL：https://fas-site.work/<br>
お問い合わせ：https://fas-site.work/inquiry_mailer/new</p>
--------------------------------------------------------