<%= render 'layouts/errors', obj: @comment %>

<h1>返信</h1>
<div class="d-flex align-items-center">
  <div class="ml-auto posts_button">
  </div>
  <div>
  ユーザーアイコン 
    <%= @post.user.name %>
    <br/>
    <%= @post.body %>
  </div>

</div>
<%= form_for [@post,@comment] do |f| %>
    <div class="form-group">
        <%= f.label :body, '投稿内容' %>
        <br/>
        ユーザーアイコン<br/>
        <%= current_user.name %><br/>
        <%= f.text_area :body, class: 'form-control', rows:10 %>
        <small id="content-tip" class="form-text text-muted">
            投稿内容を入力してください。 
        </small>
    </div>
    
    <div class="form-group row">
        <% if @comment.post_images.present? %>
            <% @comment.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 200, 200 %>
            <% end %>
        <% end %>
        <br/>
        <%= f.attachment_field :post_images_images, multiple: true %>
        <small id="image-tip" class="form-text text-muted">
        ※複数画像選択可能
        </small>
    </div>

    <%= f.submit '返信', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
    </small>
<% end %>