<div class="container">
<%= render 'layouts/errors', obj: @post %>

<div class="d-flex align-items-center mb-4">
  <h1>編集</h1>
</div>
<%= form_for @post do |f| %>
    <div class="form-group">
        <%= f.label :title, '投稿タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            タイトルを入力してください（100文字以内）
        </small>
    </div>
    <div class="form-group">
        <%= f.label :body, '投稿内容' %>
        <%= f.text_area :body, class: 'form-control', rows:10 %>
        <small id="content-tip" class="form-text text-muted">
            投稿内容を入力してください。 
        </small>
    </div>

    <div class="form-group">
        <%= f.label :tag_list, 'カテゴリ' %>
        <%= f.text_field :tag_list,value: @post.tag_list.join(','), class: 'form-control' %>
        <small id="content-tip" class="form-text text-muted">
            カテゴリ名をコンマで区切って入力してください。（例：Tシャツ,色）
        </small>
    </div>
    
    <div class="form-group">
    <% if @post.post_images.present? %>
        <% @post.post_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 200, 200 %>
        <% end %>
    <% end %>
    <br/>
    <%= f.attachment_field :post_images_images, multiple: true %>
        <small id="image-tip" class="form-text text-muted">
            ※複数画像選択可能
        </small>
    </div>
    <div class="form-group">
        <%= f.label :deadline, 'コメント募集期間' %>
        <%= f.date_field :deadline, class: 'form-control' %>
        <small id="content-tip" class="form-text text-muted">
            コメント募集期間を指定してください 
        </small>
    </div>

      <%= f.radio_button :status, :true, checked: "checked" %>
      <%= f.label :true,"募集中" %>
      <%= f.radio_button :status, :false %>
      <%= f.label :status,"評価しないで募集終了" %>
    <%= f.submit '編集', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
    </small>
<% end %>
<%= link_to "投稿を削除", post_path(@post.id), method: :delete, class: 'btn btn-outline-info',"data-confirm" => "本当に削除しますか？" %>
</div>