<section class="jumbotron text-center">
  <div class="title_text">
      <h1 class="jumbotron-heading section_title">FAS</h1>
      <!--<div class="lead">Fashion Advice Site</div>-->
      <p>
        <!--<%= link_to "About", home_about_path(test_id: 1,test2_id: 2) %>-->
        <div class="full_title">Fashion Advise site</div>
      </p>
  </div>
</section>

  <div id="notice"><%= notice %></div> 
  <div id="alert"><%= alert %></div>

<div class="container">
 <div class="album py-5 bg-light">
  <div class="container">
    <%= form_tag posts_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "タイトル検索", :name => nil %>
      <%= check_box_tag :status, checked = true,value=false %><!-- checkedでチェックがあった場合trueが:statusに送られる。value=falseで初期値チェックなし -->
      <%= label_tag :status, "募集終了も含める" %>
    </p>
    <% end %>

    <div class="col-sm-6 col-lg-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="ml-auto posts_button">
          <!--<a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>-->
          <% if user_signed_in? %>
          <%= link_to "投稿", new_post_path, class: 'btn btn-outline-info' %>
          <% else %>
          <%= link_to "投稿", new_user_session_path, class: 'btn btn-outline-info' %>
          <% end %>
      </div>
    </div>

   <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if post.post_images.present? %>
                <%= attachment_image_tag post.post_images.first, :image, size: '300x300', fallback: "no_image.jpg", class: "card-img-top" %>
              <% else %>
                <%= image_tag('no_photo.jpg', class: "card-img-top",size: '300x300') %>
            <% end %>

            <div class="card-body">
              
              <p class="card-text">
                  <div class="text_overflow">
                    <%= link_to post.title,post_path(post.id),class: "title_overflow" %>
                  </div>
                  <% if post.status==false %>
                    <span style="color:red">（募集終了）</span>
                  <% end %>
                  <br>
                  <div class="text_overflow"><%= post.body %></div>
              </p>
              
              <div class="text-right">
              <%= link_to users_profile_path(post.user_id) do %>
              <% if post.user.profile.icon_image.present? %>
                <%= attachment_image_tag post.user.profile, :icon_image, :fill, 40, 40, fallback: "no_image.jpg", class: "rounded-circle pull-left profile-thumb" %><br>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "rounded-circle pull-left profile-thumb", size: '40x40' %><br>
              <% end %>
                <span style="font-size:10px;"><%= post.user.name %></span>
                </div>
              <% end %>
              
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><i class="far fa-comment-dots" aria-hidden="true" style="color: gray;"></i> <%= post.comments.count %></small>
                <small class="text-muted">投稿：<%= post.created_at.strftime("%Y-%m-%d") %></small>
              </div>
              <i class="fas fa-tags"></i><%= render 'posts/tag_list', tag_list: post.tag_list %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
  </div>
  </div>
  </div>