<section class="jumbotron text-center">
  <div class="title_text">
      <div>
        <h1 class="jumbotron-heading section_title">FAS</h1>
      </div>
      <div class="full_title">Fashion Advise site</div>
  </div>
</section>

  <div id="notice"><%= notice %></div> 
  <div id="alert"><%= alert %></div>

<div class="container">
 <div class="album py-5 bg-light">
  <div class="container">
    <%= form_tag posts_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "タイトル検索", :name => nil %>
      <%= check_box_tag :status, checked = true,value=false %><!-- checkedでチェックがあった場合trueが:statusに送られる。value=falseで初期値チェックなし -->
      <%= label_tag :status, "募集終了も含める" %>
    </p><!-- divタグに直したい -->
    <% end %>

    <div class="d-flex align-items-center">
      <div class="ml-auto posts_button">
          <!--<a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>-->
          <% if user_signed_in? %>
          <%= link_to "投稿", new_post_path, class: 'btn btn-outline-info' %>
          <% else %>
          <%= link_to "投稿", new_user_session_path, class: 'btn btn-outline-info' %>
          <% end %>
      </div>
    </div>

   <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <div class="post_index_image">
              <% if post.post_images.present? %>
                  <%= attachment_image_tag post.post_images.first, :image, size: '300x300', fallback: "no_image.jpg", class: "card-img-top" %>
                <% else %>
                  <%= image_tag('no_photo.jpg', class: "card-img-top",size: '300x300') %>
              <% end %>
              <!-- 募集終了タグ -->
                <% if post.status == false %>
                  <div class="ended">
                    Close
                  </div>
                <% end %>

            </div>

            <div class="card-body posts_card">
              
              <div class="card-text">
                  <div class="text_overflow">
                    <%= link_to post.title,post_path(post.id),class: "post_title" %>
                  </div>
                  
                  <!--<div class="text_overflow post_index_body">
                    <%= post.body %>
                  </div>
                  -->
              </div>

              <div class="justify-content-between align-items-center post_index_tag">
                <i class="fas fa-tags"></i><%= render 'posts/tag_list', tag_list: post.tag_list %>
              </div>

              <div class="row post_data">
                <div class="col-2">
                  <div class="profile_name">
                    <%= link_to users_profile_path(post.user_id) do %>
                      <% if post.user.profile.icon_image.present? %>
                        <%= attachment_image_tag post.user.profile, :icon_image, :fill, 20, 20, fallback: "no_image.jpg", class: "rounded-circle pull-left profile-thumb" %><br>
                      <% else %>
                        <%= image_tag 'no_image.jpg', class: "rounded-circle pull-left profile-thumb", size: '20x20' %><br>
                      <% end %>
                      <!--<span style="font-size:10px;"><%= post.user.name %></span>-->
                    <% end %>
                  </div>
                </div>

                <div class="col-3 text-center">
                  <small class="text-muted card_comment_icon"><i class="far fa-comment-dots" aria-hidden="true" style="color: gray;"></i> <%= post.comments.count %></small>
                </div>

                <div class="col-7 post_index_time">
                  <small class="text-muted"><%= post.created_at.strftime("%Y-%m-%d") %>
                - <%= post.deadline.strftime("%Y-%m-%d") %></small>
                </div>

              </div>
            

          </div>
         </div>
        </div>
      <% end %>
      </div>
      <%= paginate @posts %>
    </div>
   </div>
  </div>
 </div>
</div>