<div class="d-flex align-items-center">
  <h1>投稿</h1>
  <div class="ml-auto posts_button">
      
  </div>
</div>
<%= debug current_user.id %>
<%= form_for @post do |f| %>
    <div class="form-group">
        <%= f.label :title, '投稿タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            タイトルを入力してください。
        </small>
    </div>
    <div class="form-group">
        <%= f.label :body, '投稿内容' %>
        <%= f.text_area :body, class: 'form-control', rows:10 %>
        <small id="content-tip" class="form-text text-muted">
            投稿内容を入力してください。 
        </small>
    </div>
    <div class="form-group row">
        <%= attachment_image_tag product, :image, :fill, 300, 300,format: 'jpeg',size:'300x300' %>
        <%= f.attachment_field :image %>
    </div>
    <div class="form-group">
        <%= f.label :deadline, 'コメント募集期間' %>
        <%= f.datetime_select :deadline, {}, class: 'form-control' %>
        <small id="content-tip" class="form-text text-muted">
            コメント募集期間を指定してください 
        </small>
    </div>
    <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
    </small>
<% end %>